.calculator__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 50vw;

  padding-top: 2rem;
}

@media screen and (max-width: 860px) {
  .calculator__container {
    width: 75vw;
  }
}

@media screen and (max-width: 600px) {
  .calculator__container {
    width: 90vw;
  }
}
