<div class="calculator__container">
  <app-calculator-section>
    <h1 header>{{ title }}</h1>
    <app-amount-input
      [(desiredAmount)]="value.value"
      [previousSuggestion]="previousSuggestion"
      [nextSuggestion]="nextSuggestion"
      [disabled]="disabled"
      (desiredAmountChange)="setAmountUpdated()"
      (suggestionSelect)="setSuggestionAsDesiredAmount($event)"
      (enter)="processDesiredAmount()"
    />
    <div footer>
      <button
        class="button--xl button--primary"
        (click)="processDesiredAmount()"
        [disabled]="isValidateDisabled || disabled"
      >
        Valider
      </button>
    </div>
  </app-calculator-section>
  <app-calculator-section *ngIf="state !== undefined" [w100]="true">
    <app-result [cards]="value!.cards" [state]="state" />
  </app-calculator-section>
</div>
