.card__container {
  position: relative;

  width: 10rem;
  height: 15rem;

  border: 2px solid var(--primary);
  border-radius: 5px;
  background-color: var(--primary-light);

  &::before {
    content: "€";

    position: absolute;
    inset: 0;
    z-index: 1;

    font-size: 18rem;
    line-height: 15rem;
    text-align: center;

    color: var(--surface-light);
  }
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.card__value {
  z-index: 2;
  font-size: 8rem;
  font-weight: 600;
  color: var(--primary);
}

@media screen and (max-width: 860px) {
  .card__container {
    width: 7rem;
    height: 11rem;

    &::before {
      font-size: 14rem;
      line-height: 11rem;
      text-align: center;

      color: var(--surface-light);
    }
  }

  .card__value {
    font-size: 6rem;
  }
}
