.result__container {
  position: relative;
  width: 100%;
}

.result__text {
  padding: 1rem;

  border-radius: 5px;
  border: 2px solid var(--primary);

  background-color: var(--primary-light);
  color: var(--primary);
  font-size: 1rem;
  font-weight: 600;

  &.result__text--success {
    background-color: var(--success-light);
    color: var(--success);
    border: 2px solid var(--success);
  }

  &.result__text--secondary {
    background-color: var(--secondary-light);
    color: var(--secondary);
    border: 2px solid var(--secondary);
  }

  &.result__text--danger {
    background-color: var(--danger-light);
    color: var(--danger);
    border: 2px solid var(--danger);
  }
}

.result__cards {
  margin-top: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 2rem;
}

@media screen and (max-width: 860px) {
  .result__text div {
    position: relative;
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  .result__cards {
    // flex-direction: column;
    // align-items: center;
  }

  .result__text {
    font-size: 0.8rem;
  }
}
