<div class="result__container">
  <div *ngIf="isStateEqual" class="result__text result__text--success">
    <div>Votre montant est composé des cartes suivantes :</div>
  </div>
  <div *ngIf="isStateTooLow" class="result__text result__text--secondary">
    <span
      >Le montant que vous avez demandé est inférieur au montant minimum que
      nous proposons.</span
    >
  </div>
  <div *ngIf="isStateTooHigh" class="result__text result__text--secondary">
    <span
      >Le montant que vous avez demandé est supérieur au montant maximum que
      nous proposons.</span
    >
  </div>
  <div *ngIf="isStateNone" class="result__text result__text--danger">
    <span
      >Aucune combinaison de cartes ne permet d'atteindre votre montant.</span
    >
  </div>

  <div *ngIf="!isStateNone" class="result__cards">
    <app-card *ngFor="let card of cards" [value]="card" />
  </div>
</div>
