/* You can add global styles to this file, and also import other style files */
:root {
  --surface: #323031;
  --surface-light: #32303133;
  --background: white;
  --primary: #177e89;
  --primary-light: #177e8933;
  --secondary: #ffc857;
  --secondary-light: #ffc85733;
  --success: #4aad52;
  --success-light: #4aad5233;
  --danger: #c81d25;
  --danger-light: #c81d2533;
}

html {
  font-family: "Roboto", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1 {
  margin-block: 0;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  border-radius: 5px;
  border-style: solid;
  border-color: var(--surface);

  &.button--primary {
    border-color: var(--primary);
    background: var(--primary-light);
  }
  &.button--secondary {
    border-color: var(--secondary);
    background: var(--secondary-light);
  }
  &.button--success {
    border-color: var(--success);
    background: var(--success-light);
  }
  &.button--danger {
    border-color: var(--danger);
    background: var(--danger-light);
  }
}

.button {
  &--xl {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
}

.text {
  &--primary {
    color: var(--primary);
  }
  &--secondary {
    color: var(--secondary);
  }
  &--success {
    color: var(--success);
  }
  &--danger {
    color: var(--danger);
  }
}
