.section__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;

  border: 1px solid black;
  border-radius: 5px;
}

.section__header {
  position: absolute;
  top: 0rem;

  transform: translateY(-50%);

  padding: 0 1rem;
  background-color: white;
}

.section__content {
  margin: 1rem 0;

  &--w100 {
    width: 100%;
  }
}

.section__footer {
  position: absolute;
  bottom: 0;

  transform: translateY(50%);

  padding: 0 1rem;
  background-color: white;
}
