<div class="section__container">
  <div class="section__header">
    <ng-content select="[header]"></ng-content>
  </div>
  <div [class]="['section__content', w100 ? 'section__content--w100' : '']">
    <ng-content></ng-content>
  </div>
  <div class="section__footer">
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
