<div class="amount__input__container">
  <button
    *ngIf="previousSuggestion"
    class="amount__input__button amount__input--prev button--primary"
    (click)="setSuggestionSelected($event, previousSuggestion)"
    (keyup.enter)="setSuggestionSelected(undefined, previousSuggestion)"
    [disabled]="disabled"
  >
    Montant précédent
    <span class="hint hint--left">{{ previousSuggestion.value }}</span>
  </button>
  <div class="amount__input">
    <input
      id="desiredAmount"
      type="number"
      min="1"
      step="1"
      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      [class]="{ hasAmount: desiredAmount }"
      [value]="desiredAmount"
      [disabled]="disabled"
      (input)="setDesiredAmount($event)"
      (keyup.enter)="onEnter()"
    />
    <label for="desiredAmount">Montant désiré</label>
    <span>€</span>
  </div>
  <button
    *ngIf="nextSuggestion"
    class="amount__input__button amount__input--next button--primary"
    (click)="setSuggestionSelected($event, nextSuggestion)"
    [disabled]="disabled"
  >
    Montant suivant
    <span class="hint hint--right">{{ nextSuggestion.value }}</span>
  </button>
</div>
