.amount__input__container {
  display: grid;
  grid-template-columns: 1fr 8rem 1fr;
  gap: 1rem;
}

.amount__input__button {
  position: relative;

  & > .hint {
    position: absolute;

    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--primary-light);

    opacity: 0;

    transition: opacity 150ms ease-out 250ms;

    pointer-events: none;

    &--left {
      left: -2.5rem;
    }

    &--right {
      right: -2.5rem;
    }
  }

  &.amount__input--prev:hover > .hint--left {
    opacity: 1;
    transition: opacity 150ms ease-in;
  }
  &.amount__input--next:hover > .hint--right {
    opacity: 1;
    transition: opacity 150ms ease-in;
  }
}

.amount__input {
  position: relative;

  grid-column: 2;

  &--prev {
    grid-column: 1;
  }

  &--next {
    grid-column: 3;
  }

  & label {
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 12px;
    transition: 0.2s ease all;
  }

  & span {
    position: absolute;
    pointer-events: none;
    right: 5px;
    top: 12px;

    opacity: 0;

    transition: 0.2s ease all;
  }

  & input {
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: 0.16px;
    outline: 2px solid transparent;
    outline-offset: -2px;

    height: 40px;
    border: none;
    border-bottom: 1px solid var(--surface);
    background-color: transparent;
    padding: 0 16px;
    color: var(--surface);
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
      outline 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
    &:focus {
      border-bottom: 1px solid var(--primary);
    }

    &:disabled ~ label {
      color: var(--surface-light);
    }
  }

  & input:focus ~ label,
  & input.hasAmount ~ label {
    top: -5px;
    bottom: 10px;
    left: 10px;
    font-size: 11px;
    opacity: 1;
  }

  & input:focus ~ span,
  & input.hasAmount ~ span {
    opacity: 1;
  }
}
